<!DOCTYPE html>
<html>
<head>
    <title>smui 测试</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="http://image.uc.cn/s/uae/g/2p/smui/smicon/style.css">
<link rel="stylesheet" type="text/css" href="./css/main.css">
<script type="text/javascript" src="./resource/vendor/lib/mod.js"></script>
<script type="text/javascript" src="./resource/vendor/lib/vue.js"></script>
<div id="main" class="smui"></div>
<script type="text/javascript">
    require('/components/main');
    var smui = require('smui');
    require('./src/main');
      
</script>
</body>
</html>